p {
  font-size: 23px;
  font-weight: bold;
}
a:link {
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  color: burlywood;
}
a:active {
  color: green;
}
a {
  text-align: center;
}
h2 {
  font-size: 25px;
  padding: 0px 0px 5px 0px;
}
button {
  border: 0;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
#map {
  width: 100%;
  height: 90vh;
}
.info {
  text-align: center;
}
.right_button {
  position: absolute;
  bottom: 378px;
  right: 16px;
}
.left_button {
  position: absolute;
  bottom: 378px;
  left: 16px;
  transform: scaleX(-1);
}
.target_image {
  margin: 5px 4px 10px 10px;
}
